.nav{

    list-style: none;
    display: flex;
    align-content: center;
    justify-content: center;

}
.nav-item{
    padding-left:5px;
    padding-right: 5px;
    justify-content: center;
    align-content: center;
    text-align: center;

}


