body{

    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: beige;
}
.app-main {

    align-content: center;
    align-items: center;
    justify-content: center;
}